body {
  background-color: lightpink;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: left;
}
  
p,ul {
  font-family: verdana;
  font-size: 20px;
}

.about-me {
  color: black;
}

#selfie {
  tex-align: center;
}
