body {
  background-color: lightpink;
}

h1 {
  color: black;
  text-align: center;
  font-size: 45px;
}

h2 {
  color: black;
  text-align: left;
  font-size: 35px;
}
  
p,ul {
  font-family: verdana;
  font-size: 20px;
}

.about-me {
  color: black;
}

/*this is the first image*/
#selfie1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 273px;
  height: 211px;
}
